/* Navegação */
.nav-container{
    display: flex;
    width: 100%;
    background-color: #FFFF;    position: fixed;
    z-index: 99999;
}

.navbar-list{
    display: flex;
    list-style-type: none;
    text-align: center;
}

.navbar-list li{
    margin-right: 16px;
}

.navbar-list li a{
    color: #06c4b4; /* Cor do texto dos links */
    font-weight: bold;
    text-decoration: none;
    transition: ease-in 0.2s
}

.navbar-list li a:hover{
    border-bottom: 3px solid #5D6BE7 ;
    color: #5D6BE7;
}


/* Conteúdo principal */

.img2{
    border-radius: 32px;
    width: 400px;
}

.img3{
    border-radius: 32px;
    width: 400px;
}

.container {
    display: flex;
    justify-content: flex-end; /* Alinhar a navbar à direita */
    margin: 0 auto; /* Centralizar o container na página */
    max-width: 1200px; /* Largura máxima do container */
    padding: 20px; /* Espaçamento interno do container */
      
}

.conteudo{
    display: flex;
}

.conteudo1{
    display: flex;
}
.conteudo-texto{
         display: flex;   
}
.conteudo2{
    display:flex;
}


.paragrafo{
    font-weight: 500;
    padding:50px;

}
.paragrafo3{
 
    padding:50px;
    text-align: end;
    
}
.back{
    background-color: #c7c6c6;
    display: flex;
    padding: 64px;
    
}
.card{
    background:white;
    border-radius: 12px;
    box-shadow: 0px 4px 8px #00000033;
    text-align: center;
    width: 200px;
}


footer{
    background-color: #4BD8D8; 
    height: 110px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

footer a i{
    margin-right: 20px;
}

/* Estilos para telas menores (responsivo) */
@media screen and (min-width: 950px) {
        .menu-icon{
            display: none;
        }
        .nav-container{
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
        }
        .conteudo{
            flex-direction: column;
            align-items: center;
        }
        .conteudo1{
            width: 60%;
        }
        .conteudo2{
            width: 60%;
        }
        .conteudo-texto{
           flex-direction: column;
           align-items: center; 
        }

        .conteudo-texto p{
            font-size: 1.3em;
        }
        
        .img1{
            width: 300px;
           
        }
        .back{
            width: 100%;
            justify-content: space-evenly;
        }
}
@media screen and (max-width: 949px) {
   .menu-icon{
    width: 40px;
    height: 40px;
   }
   .navbar-list{
    display: none;
   }     
}
@media screen and (max-width: 375px) {  
   

    .conteudo1{
        margin-left: 5px;
        margin-right: 20px  ;
        flex-direction: column;
    }

    .conteudo2{
        margin-left: 5px;
        margin-right: 20px  ;
        flex-direction: column;
    }

    .img2{
        margin-top: 10px;
        margin-left: 20px;
    }

    .img3{
        margin-top: 10px;
        margin-left: 20px;
    }

    .conteudo{
        height: 600px;
        padding: 15px;
        align-items: center;
    }

    .titulo1{
        position: absolute;
        top:120px;
        left: 80px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .titulo2{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 1px;

    }

    .paragrafo{
        text-align: center;
        margin-top: 20px;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .back{
        padding-top: 5px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgba(128, 128, 128, 0.801);
    }
    
    .card{
        margin-top:40px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
        text-align: center;
        background:white;
        border: 1px solid;
        border-radius: 12px;
    } 
    
    .paragrafo2{
        padding: 0;
        margin-top: 15px;
        margin-left: 40px;
        margin-right: 40px;
        
    } 

    .card2{
        margin-top:40px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
        text-align: center;
        background:white;
        border: 1px solid;
        border-radius: 12px;
    }

    .card3{
        margin-top:40px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        padding: 0;
        text-align: center;
        background:white;
        border: 1px solid;
        border-radius: 12px;
    }
}